<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    {% if user.is_authenticated %}
    <a class="btn btn-outline-dark mt-auto" href="{% url 'postcreate' %}">게시물 추가</a><br>
    {% endif %}
    <br><br><br>
    <hr>
    {% for post in posts %}
        <a href="{% url 'postdetail' post.id %}">
            {{ post.title }}
        </a>
        <hr>
    {% endfor %}

    <br><br><br>
    {% if user.is_authenticated %}
    <a class="dropdown-item" href="{% url 'logout' %}" data-toggle="modal" data-target="#logoutModal">
        Logout
    </a>
    {% else %}
        <a href="{% url 'login' %}">로그인버튼</a>
    {% endif %}
</body>